/TERMINADOS/CoffeeCompany/nbproject/private/
/WEB/FirstServlet/nbproject/private/
/WEB/FirstServlet/build/
/WEB/Ejercicio1/nbproject/private/
/WEB/Ejercicio1/build/
/WEB/Ejercicio2/nbproject/private/
/WEB/Ejercicio2/build/
/WEB/Parcial1JSP/nbproject/private/
/WEB/Parcial1JSP/build/
/WEB/EjOperaciones/nbproject/private/
/WEB/EjOperaciones/build/
/WEB/EjmHTMLCSS/nbproject/private/
/WEB/EjmHTMLCSS/build/
/WEB/calseVirtual/nbproject/private/
/WEB/calseVirtual/build/
/WEB/tallerServletsPOO/nbproject/private/
/WEB/tallerServletsPOO/build/
/WEB/IMSS/nbproject/private/
/WEB/IMSS/build/
/WEB/Salario/nbproject/private/
/WEB/Salario/build/
/WEB/EjeInvocarServlet/nbproject/private/
/WEB/PrimeraPractica_JSP_POO_CSS/nbproject/private/
/WEB/PrimeraPractica_JSP_POO_CSS/build/